.results {
    background: white;
    border-radius: 10px;
    display: grid;
    height: 160px;
    grid-template-columns: repeat(4, 1fr);
    margin:0 auto;
    margin-top: 50px;
    position: relative;
    width: 1110px;
    z-index: 500;
}

.result {
    border-left: 1px solid #d8d8d8;
    margin-bottom: 35px;
    margin-top: 35px;
    overflow: hidden;
    padding: 0px 60px 0 30px;
}

.result:first-child {
    border: none;
}

.title {
    color: var(--dark-gray);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.data {
    color: var(--very-dark-gray);
    font-weight: 700;
}

@media screen and (max-width: 375px) {
    .results {
        align-items: center;
        display: flex;
        height: 295px;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px 0;
        width: auto;
    }

    .result {
        border: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}